<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>網頁標題</title>
    <!-- CSS文件載入 -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
        integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    </link>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- 選單/start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">
            <h2>待辦事項</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBlogMenu"
            aria-controls="navbarBlogMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarBlogMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">待辦事項</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="share.html">站主分享</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="host.html">站主資訊</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 選單/end -->
    <section class="container mt-5" id="to-do-list">
        <div class="row">
            <!-- 部落格內容/start -->
            <div class="col-12 col-md-8">
                <div class="row" v-if="storageArray.length">
                    <!-- 文章/start -->
                    <div class="col-12 col-sm-6" v-for="(value, index) in storageArray">
                        <div class="card">
                            <div class="card-body">
                                <!-- 標題/start -->
                                <h4 class="card-title" v-if="!value.editShow">
                                    <strong>{{value.title}}</strong>
                                </h4>
                                <div class="input-group input-group-lg mb-3" v-if="value.editShow">
                                    <input type="text"
                                        :class="{'form-control':true,'font-weight-bold':true ,'border-0': true }"
                                        name="title" v-model="value.title">
                                </div>
                                <!-- 標題/end -->
                                <!-- 內容/start -->
                                <p class="card-text" v-if="!value.editShow">{{value.content}}</p>
                                <div class="input-group input-group-lg mb-3" v-if="value.editShow">
                                    <textarea rows="3" :class="{'form-control':true,'border-0': true }" name="content"
                                        v-model="value.content">{{value.content}}</textarea>
                                </div>
                                <!-- 內容/end -->
                                <div class="form-check" v-if="value.editShow">
                                    <input class="form-check-input" type="radio" :name="'status'+index"
                                        :id="'status1'+index" v-model="value.status" value="未完成" checked>
                                    <label class="form-check-label">
                                        未完成
                                    </label>
                                </div>
                                <div class="form-check" v-if="value.editShow">
                                    <input class="form-check-input" type="radio" :name="'status'+index"
                                        :id="'status2'+index" v-model="value.status" value="已完成">
                                    <label class="form-check-label">
                                        已完成
                                    </label>
                                </div>
                                <!-- 日期/start -->
                                <div class="d-flex justify-content-between">
                                    <span class="d-block text-secondary mt-4 icon datetime">{{value.date}}</span>
                                    <span class="d-block text-secondary mt-4" class="card-text">{{value.status}}</span>
                                </div>
                                <!-- 日期/end -->
                                <!-- 編輯&刪除/start -->
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-link" name="edit" v-if="!value.editShow"
                                        @click="edit(index)">
                                        <i class="fas fa-edit fa-2x text-warning"></i>
                                    </button>
                                    <button type="button" class="btn btn-link" name="exit_success" v-if="value.editShow"
                                        @click="exit_success(index)">
                                        <i class="far fa-check-square fa-2x  ml-3 text-success"></i>
                                    </button>
                                    <button type="button" class="btn btn-link" name="delete" @click="deletes(index)">
                                        <i class="fas fa-trash-alt fa-2x ml-3 text-danger" name="delete"></i>
                                    </button>
                                </div>
                                <!-- 編輯&刪除/end -->
                            </div>
                        </div>
                    </div>
                    <!-- 第一則文章/end -->
                </div>
            </div>
            <!-- 部落格內容/end -->
            <!-- 側邊欄/start -->
            <div class="col-12 col-md-4">
                <!-- 未完成事項/start -->
                <div class="bg-white p-3 mb-3 border rounded">
                    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal"
                        data-target="#exampleModal">
                        <strong>新增事項</strong>
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">新增事項</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form @submit="add_article" method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input required type="text" class="form-control my-3" placeholder="輸入事項標題"
                                            name="title" v-model="title">
                                    </div>
                                    <div class="form-group">
                                        <textarea required class="form-control" rows="3" placeholder="輸入事項內容"
                                            name="content" v-model="content"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">新增</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 未完成事項/end -->
                <!-- 未完成事項/start -->
                <div class="bg-white p-3 mb-3 border rounded">
                    <h5 class="mb-3">
                        <strong>未完成事項</strong>
                    </h5>
                    <ul class="list-category">
                        <li class="media mb-3" v-for="(value, index) in storageArray" v-if="value.status=='未完成'">
                            <div class="media-body">
                                <div class="mt-0 mb-1 text-truncate" style="max-width: 180px;">
                                    {{value.title}}
                                </div>
                                <span class="d-block mt-3 text-secondary icon datetime">{{value.date}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 未完成事項/end -->
                <!-- 分類/start -->
                <div class="bg-white p-3 mb-3 border rounded">
                    <h5 class="mb-3">
                        <strong>分類</strong>
                    </h5>
                    <ul class="list-category category">
                        <li>
                            <a href="#" @click="get_task_type('all')">所有
                                <span class="badge badge-pill badge-secondary ml-2">{{all_count}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" @click="get_task_type('complete')">已完成
                                <span class="badge badge-pill badge-secondary ml-2">{{complete_count}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" @click="get_task_type('undone')">未完成
                                <span class="badge badge-pill badge-secondary ml-2">{{undone_count}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 分類/end -->
            </div>
            <!-- 側邊欄/end -->
        </div>
    </section>
    <!-- 部落格與側邊欄/end -->
    <!-- 頁腳/start -->

    <!-- 頁腳/end -->

    <!-- js文件載入 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>